@font-face {
  font-family: bold;
  src: url(/src/Fontspring-DEMO-biennale-bold.otf);
}@font-face {
  font-family: medium;
  src: url(/src/Fontspring-DEMO-biennale-medium.otf);
}
@font-face {
  font-family: light;
  src: url(/src/Fontspring-DEMO-biennale-light.otf);
}

.container {
  font-family: "light";
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  background-color: black;
  width: 50vw;
  height: 50vh;
}

.sketch {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sendButton{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  z-index: 100000 !important;
  background: none;
  border: none;
}
body{
  color: #FFFFFF;
  background-color: #29042F;
}
.returnButton, .sendWindow{
  font-family: "medium";
  position: absolute;
  width: 60px;
  border: solid 1px;
  right: 20px;
  top: 5%;
  padding: 4px 10px;
  border-radius: 5px;
}

.returnButton .text, .sendWindow .text{
  width: 40px;
  display: inline-block;
}
.iconReturn, .sendIcon{
  width: 15px;
  height: 15px;
  left: 0px;
  margin-left: 5px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/icon_reset.png");
}
.mainBody{
  position: absolute;
  width: 80%;
  margin: 0 auto;
  height: 60%;
  border: solid 1px;
  left: 7%;
  top: 12%;
  padding: 4px 10px;
  border-radius: 5px;
}
.lowerWindow{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 24%;
}
.sendWindow{
  background-color: white;
  color: #29042F;
  right: 35%;
  top: 20%;
  width: 80px;
}
.sendWindow .text{
  vertical-align: middle; 
  padding-bottom: 8px;
  width: 50px;
  display: inline-block;
}
.sendIcon{
  width: 25px; 
  height: 25px;
  background-image: url("/src/icon_stars.png");
}